name: Rust

on:
  push:

jobs:
  test:
    name: Test and Style
    runs-on: ubuntu-latest
    steps:
    - name: Environment setup
      uses: actions/checkout@v2
    - name: Rust setup
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
    - name: Rust test
      uses: actions-rs/cargo@v1
      with:
        command: test
        args: --release
    - name: Rust style
      uses: actions-rs/cargo@v1
      with:
        command: fmt
        args: -- --check
